#include "wargame.h"
#include "bitmaps.h"
#include <os2.h>

POINTER ID_RESOURCE about.ico

MENU ID_RESOURCE
{
	SUBMENU "~Game", MID_FILE
	{
		MENUITEM "~New Game...", MID_NEW
		MENUITEM "~Players...", MID_PLAYERS
		MENUITEM SEPARATOR
		MENUITEM "~Exit", MID_EXIT
	}
	SUBMENU "~Control", MID_CONTROL
	{
		MENUITEM "~Resources...", MID_CONTROL_RESOURCES, , MIA_DISABLED
		MENUITEM SEPARATOR
		MENUITEM "~Find\tCtrl+F", MID_FIND, , MIA_DISABLED
		MENUITEM "~Turn\tCtrl+T", MID_TURN, , MIA_DISABLED
	}
	SUBMENU "~Help", MID_HELP
	{
		MENUITEM "~Help Contents...", MID_HELP_INDEX
		MENUITEM "~General Help...", MID_GENERAL_HELP
		MENUITEM "~Using Help...", MID_USING_HELP
		MENUITEM "~Keys Help...", MID_KEYS_HELP
		MENUITEM SEPARATOR
		MENUITEM "~Registration...", MID_REGISTRATION_HELP
		MENUITEM "High ~Scores...", MID_HIGH_SCORES
		MENUITEM "~Product Information...", MID_HELP_ABOUT
	}
}

MENU ID_TARGET_TWO
{
	MENUITEM "~Defend Location", MID_TARGET_LOCATION
	MENUITEM "~Attack Weapon", MID_TARGET_WEAPON
}

MENU ID_TARGET_ONE
{
	MENUITEM "~Defend Location", MID_TARGET_LOCATION
}

MENU ID_RESCUE_TWO
{
	MENUITEM "Rescue ~Location", MID_TARGET_LOCATION
	MENUITEM "~Rescue and Repair", MID_RESCUE
}

HELPTABLE ID_RESOURCE
{
	HELPITEM ID_RESOURCE, ID_RESOURCE,						1000
	HELPITEM DID_ABANDON_GAME, DID_ABANDON_GAME,			2000
	HELPITEM DID_ABOUT, DID_ABOUT,							3000
	HELPITEM DID_CONGRAT, DID_CONGRAT,						4000
	HELPITEM DID_CONTROL_CENTER, DID_CONTROL_CENTER,	5000
	HELPITEM DID_HIGH_SCORES, DID_HIGH_SCORES,			6000
	HELPITEM DID_GAME_OVER, DID_GAME_OVER,					7000
	HELPITEM DID_CREATE_MAP, DID_CREATE_MAP,				8000
	HELPITEM DID_RESOURCES, DID_RESOURCES,					9000
	HELPITEM DID_PLAYER_CONTROL, DID_PLAYER_CONTROL,	10000
	HELPITEM DID_REGISTRATION, DID_REGISTRATION,			11000
	HELPITEM DID_REGISTER_ME, DID_REGISTER_ME,			12000
	HELPITEM DID_SORRY, DID_SORRY,							13000
	HELPITEM	DID_THANK_YOU, DID_THANK_YOU,					14000
	HELPITEM DID_PLEASE_WAIT_MAP, 0,		 					15000
}

HELPSUBTABLE ID_RESOURCE
{
	HELPSUBITEM ID_RESOURCE,				1000
	HELPSUBITEM MID_FILE,					1010
	HELPSUBITEM MID_NEW,						1020
	HELPSUBITEM MID_PLAYERS,   			1030
	HELPSUBITEM MID_EXIT,					1040
	HELPSUBITEM MID_CONTROL,				1050
	HELPSUBITEM MID_CONTROL_RESOURCES,	1060
	HELPSUBITEM MID_FIND,					1070
	HELPSUBITEM MID_TURN,					1080
	HELPSUBITEM MID_HELP,					1090
	HELPSUBITEM MID_HELP_INDEX,			1100
	HELPSUBITEM MID_GENERAL_HELP,			1110
	HELPSUBITEM MID_USING_HELP,			1120
	HELPSUBITEM MID_KEYS_HELP,				1130
	HELPSUBITEM MID_HIGH_SCORES,			1140
	HELPSUBITEM MID_HELP_ABOUT,			1150
	HELPSUBITEM MID_TARGET_LOCATION,		1160
	HELPSUBITEM MID_TARGET_WEAPON,		1170
	HELPSUBITEM MID_RESCUE,					1180
	HELPSUBITEM MID_REGISTRATION_HELP,	1190
}

HELPSUBTABLE DID_ABANDON_GAME
{
	HELPSUBITEM BID_OKAY,					2010
	HELPSUBITEM BID_CANCEL,					2020
}

HELPSUBTABLE DID_ABOUT
{
	HELPSUBITEM BID_OKAY,					3010
	HELPSUBITEM BID_REGISTRATION,			3020
}

HELPSUBTABLE DID_CONGRAT
{
	HELPSUBITEM BID_OKAY,					4010
	HELPSUBITEM FID_INITIALS,				4020
}

HELPSUBTABLE DID_CONTROL_CENTER
{
	HELPSUBITEM BID_FIND,					5010
	HELPSUBITEM BID_OKAY,					5020
}

HELPSUBTABLE DID_HIGH_SCORES
{
	HELPSUBITEM BID_OKAY,					6010
}

HELPSUBTABLE DID_GAME_OVER
{
	HELPSUBITEM BID_OKAY,					7010
	HELPSUBITEM BID_NEXT,					7010
}

HELPSUBTABLE DID_CREATE_MAP
{
	HELPSUBITEM BID_OKAY,					8010
	HELPSUBITEM BID_CANCEL,					8020
	HELPSUBITEM SLID_LIGHT_FOREST,		8030
	HELPSUBITEM SLID_DENSE_FOREST,		8040
	HELPSUBITEM SLID_SAND,					8050
	HELPSUBITEM SLID_SWAMP,					8060
	HELPSUBITEM SLID_VILLAGES,				8070
	HELPSUBITEM SLID_BRIDGES,				8080
	HELPSUBITEM SLID_XSIZE,					8090
	HELPSUBITEM SLID_YSIZE,					8100
	HELPSUBITEM CID_RIVER,					8110
}

HELPSUBTABLE DID_RESOURCES
{
	HELPSUBITEM BID_OKAY,					9010
	HELPSUBITEM BID_CANCEL,					9020
	HELPSUBITEM SLID_GROUND_FORCES,		9030
	HELPSUBITEM SLID_TANK,					9040
	HELPSUBITEM SLID_FAST_TANK,			9050
	HELPSUBITEM SLID_BOMBER_PLANE,		9060
	HELPSUBITEM SLID_FIGHTER_PLANE,		9070
	HELPSUBITEM SLID_LONG_RANGE_MISSILE,	9080
	HELPSUBITEM SLID_SAND_BUGGY,			9090
	HELPSUBITEM SLID_SEMI_WATER_FORCES,	9100
	HELPSUBITEM SLID_RESCUE_REPAIR,		9110
}

HELPSUBTABLE DID_PLAYER_CONTROL
{
	HELPSUBITEM BID_OKAY,					10010
	HELPSUBITEM BID_CANCEL,					10020
	HELPSUBITEM RID_HUMAN_P1,				10030
	HELPSUBITEM RID_COMPUTER_P1,			10040
	HELPSUBITEM SLID_SKILL_P1,				10050
	HELPSUBITEM RID_HUMAN_P2,				10060
	HELPSUBITEM RID_COMPUTER_P2,			10070
	HELPSUBITEM SLID_SKILL_P2,				10080
}

HELPSUBTABLE DID_REGISTRATION
{
	HELPSUBITEM BID_OKAY,					11010
	HELPSUBITEM FID_CODE_1,					11020
	HELPSUBITEM FID_CODE_2,					11030
}

HELPSUBTABLE DID_REGISTER_ME
{
	HELPSUBITEM BID_OKAY,					12010
}

HELPSUBTABLE DID_SORRY
{
	HELPSUBITEM BID_OKAY,					13010
}

HELPSUBTABLE DID_THANK_YOU
{
	HELPSUBITEM BID_OKAY,					14010
}

ACCELTABLE ID_RESOURCE
{
	"f", MID_FIND, CONTROL
	"t", MID_TURN, CONTROL
}

RCINCLUDE "players.dlg"
RCINCLUDE "map.dlg"
RCINCLUDE "wait.dlg"
RCINCLUDE "abandon.dlg"
RCINCLUDE "control.dlg"
RCINCLUDE "mapres.dlg"
RCINCLUDE "gameover.dlg"
RCINCLUDE "fame.dlg"
RCINCLUDE "congrat.dlg"
RCINCLUDE "about.dlg"
RCINCLUDE "regme.dlg"
RCINCLUDE "register.dlg"
RCINCLUDE "sorry.dlg"
RCINCLUDE "thankyou.dlg"

BITMAP BITID_SBRCBR  bitmaps\sbrcbr.bmp
BITMAP BITID_SBLRCBL bitmaps\sblrcbl.bmp
BITMAP BITID_SBLRCB  bitmaps\sblrcb.bmp
BITMAP BITID_SBLRCBR	bitmaps\sblrcbr.bmp
BITMAP BITID_SBLCBL	bitmaps\sblcbl.bmp
BITMAP BITID_STBRCTR	bitmaps\stbrctr.bmp
BITMAP BITID_SBR		bitmaps\sbr.bmp
BITMAP BITID_SBLR		bitmaps\sblr.bmp
BITMAP BITID_SBL		bitmaps\sbl.bmp
BITMAP BITID_STBLCTL	bitmaps\stblctl.bmp
BITMAP BITID_STBRCB	bitmaps\stbrcb.bmp
BITMAP BITID_STBR		bitmaps\stbr.bmp
BITMAP BITID_STBL		bitmaps\stbl.bmp
BITMAP BITID_STBLCB	bitmaps\stblcb.bmp
BITMAP BITID_STBRCBR	bitmaps\stbrcbr.bmp
BITMAP BITID_STR		bitmaps\str.bmp
BITMAP BITID_STLR		bitmaps\stlr.bmp
BITMAP BITID_STL		bitmaps\stl.bmp
BITMAP BITID_STBLCBL	bitmaps\stblcbl.bmp
BITMAP BITID_STRCTR	bitmaps\strctr.bmp
BITMAP BITID_STLRCTL	bitmaps\stlrctl.bmp
BITMAP BITID_STLRCB	bitmaps\stlrcb.bmp
BITMAP BITID_STLRCTR	bitmaps\stlrctr.bmp
BITMAP BITID_STLCTL	bitmaps\stlctl.bmp
BITMAP BITID_ST		bitmaps\st.bmp
BITMAP BITID_SL		bitmaps\sl.bmp
BITMAP BITID_SB		bitmaps\sb.bmp
BITMAP BITID_SR		bitmaps\sr.bmp
BITMAP BITID_STBLR	bitmaps\stblr.bmp
BITMAP BITID_STB		bitmaps\stb.bmp
BITMAP BITID_SLR		bitmaps\slr.bmp
BITMAP BITID_SA1234	bitmaps\sa1234.bmp
BITMAP BITID_SA234	bitmaps\sa234.bmp
BITMAP BITID_SA123	bitmaps\sa123.bmp
BITMAP BITID_SA134	bitmaps\sa134.bmp
BITMAP BITID_SA124	bitmaps\sa124.bmp
BITMAP BITID_SA13		bitmaps\sa13.bmp
BITMAP BITID_SA24		bitmaps\sa24.bmp
BITMAP BITID_SA14		bitmaps\sa14.bmp
BITMAP BITID_SA12		bitmaps\sa12.bmp
BITMAP BITID_SA23		bitmaps\sa23.bmp
BITMAP BITID_SA34		bitmaps\sa34.bmp
BITMAP BITID_SA1		bitmaps\sa1.bmp
BITMAP BITID_SA2		bitmaps\sa2.bmp
BITMAP BITID_SA3		bitmaps\sa3.bmp
BITMAP BITID_SA4		bitmaps\sa4.bmp
BITMAP BITID_SNONE	bitmaps\snone.bmp

BITMAP BITID_RBLC		bitmaps\rblc.bmp
BITMAP BITID_RTLC		bitmaps\rtlc.bmp
BITMAP BITID_RBRC		bitmaps\rbrc.bmp
BITMAP BITID_RTRC		bitmaps\rtrc.bmp
BITMAP BITID_RLR		bitmaps\rlr.bmp
BITMAP BITID_RTB		bitmaps\rtb.bmp
BITMAP BITID_BLR		bitmaps\blr.bmp
BITMAP BITID_BTB		bitmaps\btb.bmp
BITMAP BITID_RSTBR	bitmaps\rstbr.bmp
BITMAP BITID_RSTBL	bitmaps\rstbl.bmp
BITMAP BITID_RSLRT	bitmaps\rslrt.bmp
BITMAP BITID_RSLRB	bitmaps\rslrb.bmp

BITMAP BITID_SWAMP	bitmaps\swamp.bmp
BITMAP BITID_SWAMP2	bitmaps\swamp2.bmp
BITMAP BITID_SWAMP3	bitmaps\swamp3.bmp
BITMAP BITID_SWAMP4	bitmaps\swamp4.bmp
BITMAP BITID_SWAMP5	bitmaps\swamp5.bmp
BITMAP BITID_SWAMP6	bitmaps\swamp6.bmp
BITMAP BITID_DENSE	bitmaps\dense.bmp
BITMAP BITID_DENSE2	bitmaps\dense2.bmp
BITMAP BITID_DENSE3	bitmaps\dense3.bmp
BITMAP BITID_LIGHT	bitmaps\light.bmp
BITMAP BITID_LIGHT2	bitmaps\light2.bmp
BITMAP BITID_LIGHT3	bitmaps\light3.bmp
BITMAP BITID_FIELD	bitmaps\field.bmp
BITMAP BITID_FIELD2	bitmaps\field2.bmp

BITMAP BITID_VILLAGEN bitmaps\villagen.bmp
BITMAP BITID_VILLAGE1 bitmaps\village1.bmp
BITMAP BITID_VILLAGE2 bitmaps\village2.bmp

BITMAP BITID_GROUNDF1 bitmaps\groundf1.bmp
BITMAP BITID_GROUNDF2 bitmaps\groundf2.bmp
BITMAP BITID_TANK1	 bitmaps\tank1.bmp
BITMAP BITID_TANK2	 bitmaps\tank2.bmp
BITMAP BITID_FTANK1	 bitmaps\ftank1.bmp
BITMAP BITID_FTANK2	 bitmaps\ftank2.bmp
BITMAP BITID_BOMBER1	 bitmaps\bomber1.bmp
BITMAP BITID_BOMBER2	 bitmaps\bomber2.bmp
BITMAP BITID_FIGHTER1 bitmaps\fighter1.bmp
BITMAP BITID_FIGHTER2 bitmaps\fighter2.bmp
BITMAP BITID_STANK1	 bitmaps\stank1.bmp
BITMAP BITID_STANK2	 bitmaps\stank2.bmp
BITMAP BITID_MISSILE1 bitmaps\missile1.bmp
BITMAP BITID_MISSILE2 bitmaps\missile2.bmp
BITMAP BITID_WATERF1	 bitmaps\waterf1.bmp
BITMAP BITID_WATERF2	 bitmaps\waterf2.bmp
BITMAP BITID_LAUNCH1	 bitmaps\launch1.bmp
BITMAP BITID_LAUNCH2	 bitmaps\launch2.bmp
BITMAP BITID_REPAIR1  bitmaps\repair1.bmp
BITMAP BITID_REPAIR2  bitmaps\repair2.bmp
BITMAP BITID_NOWHERE	 bitmaps\nowhere.bmp
BITMAP BITID_RTBLR	 bitmaps\rtblr.bmp
BITMAP BITID_BLOWUP1	 bitmaps\blowup5.bmp
BITMAP BITID_BLOWUP2	 bitmaps\blowup4.bmp
BITMAP BITID_BLOWUP3	 bitmaps\blowup3.bmp
BITMAP BITID_BLOWUP4	 bitmaps\blowup2.bmp
BITMAP BITID_BLOWUP5	 bitmaps\blowup1.bmp
BITMAP BITID_WINP1	 bitmaps\winp1.bmp
BITMAP BITID_WINP2	 bitmaps\winp2.bmp
BITMAP BITID_LOSEP1	 bitmaps\losep1.bmp
